### Setup and Imports

In [64]:
import pandas as pd
import numpy as np
df = pd.read_csv('train.csv')

/Users/areebasad/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [65]:
import datetime

### Data Cleaning and EDA

In [66]:
len(df)

33538

In [67]:
df.describe()

,id,host_id,host_acceptance_rate,host_listings_count,accommodates,bathrooms,bedrooms,beds,square_feet,price,...,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,reviews_per_month
count,3.353800e+04,3.353800e+04,0.0,33533.000000,33538.000000,33478.000000,33505.000000,33507.000000,341.000000,33538.000000,...,33538.000000,25874.000000,25844.000000,25859.000000,25829.000000,25849.000000,25830.000000,25827.000000,33538.000000,26591.000000
mean,1.566316e+07,5.420691e+07,NaN,10.006799,2.856789,1.141376,1.176869,1.571313,738.958944,145.177291,...,21.635548,93.751488,9.599443,9.255153,9.737466,9.754304,9.500542,9.374647,3.956288,1.429904
std,8.788870e+06,6.149736e+07,NaN,85.869452,1.848491,0.425003,0.744365,1.054226,580.780447,133.085709,...,40.488277,8.315867,0.819684,1.073818,0.706306,0.688775,0.781516,0.888392,12.687366,1.672336
min,2.515000e+03,2.830000e+02,NaN,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,20.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,0.010000
25%,8.173466e+06,7.130984e+06,NaN,1.000000,2.000000,1.000000,1.000000,1.000000,400.000000,69.000000,...,1.000000,91.000000,9.000000,9.000000,10.000000,10.000000,9.000000,9.000000,1.000000,0.210000
50%,1.633786e+07,2.662292e+07,NaN,1.000000,2.000000,1.000000,1.000000,1.000000,700.000000,109.000000,...,5.000000,96.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,1.000000,0.770000
75%,2.276632e+07,8.248502e+07,NaN,2.000000,4.000000,1.000000,1.000000,2.000000,1000.000000,175.000000,...,23.000000,100.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,2.000000,2.140000
max,2.977318e+07,2.240015e+08,NaN,2271.000000,16.000000,16.500000,10.000000,18.000000,5000.000000,1999.000000,...,557.000000,100.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,132.000000,19.890000

In [68]:
df.dtypes

id                                    int64
name                                 object
summary                              object
space                                object
description                          object
experiences_offered                  object
neighborhood_overview                object
notes                                object
transit                              object
access                               object
interaction                          object
house_rules                          object
host_id                               int64
host_name                            object
host_since                           object
host_location                        object
host_about                           object
host_response_time                   object
host_response_rate                   object
host_acceptance_rate                float64
host_is_superhost                    object
host_neighbourhood                   object
host_listings_count                 float64
host_verifications                   object
host_has_profile_pic                 object
host_identity_verified               object
neighbourhood_cleansed               object
neighbourhood_group_cleansed         object
city                                 object
state                                object
                                     ...
room_type                            object
accommodates                          int64
bathrooms                           float64
bedrooms                            float64
beds                                float64
bed_type                             object
amenities                            object
square_feet                         float64
price                               float64
guests_included                       int64
extra_people                         object
minimum_nights                        int64
maximum_nights                        int64
number_of_reviews                     int64
first_review                         object
last_review                          object
review_scores_rating                float64
review_scores_accuracy              float64
review_scores_cleanliness           float64
review_scores_checkin               float64
review_scores_communication         float64
review_scores_location              float64
review_scores_value                 float64
instant_bookable                     object
is_business_travel_ready             object
cancellation_policy                  object
require_guest_profile_picture        object
require_guest_phone_verification     object
calculated_host_listings_count        int64
reviews_per_month                   float64
Length: 65, dtype: object

In [69]:
df.columns

Index(['id', 'name', 'summary', 'space', 'description', 'experiences_offered',
       'neighborhood_overview', 'notes', 'transit', 'access', 'interaction',
       'house_rules', 'host_id', 'host_name', 'host_since', 'host_location',
       'host_about', 'host_response_time', 'host_response_rate',
       'host_acceptance_rate', 'host_is_superhost', 'host_neighbourhood',
       'host_listings_count', 'host_verifications', 'host_has_profile_pic',
       'host_identity_verified', 'neighbourhood_cleansed',
       'neighbourhood_group_cleansed', 'city', 'state', 'zipcode', 'market',
       'country_code', 'country', 'property_type', 'room_type', 'accommodates',
       'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'square_feet',
       'price', 'guests_included', 'extra_people', 'minimum_nights',
       'maximum_nights', 'number_of_reviews', 'first_review', 'last_review',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'instant_bookable', 'is_business_travel_ready',
       'cancellation_policy', 'require_guest_profile_picture',
       'require_guest_phone_verification', 'calculated_host_listings_count',
       'reviews_per_month'],
      dtype='object')

In [70]:
def time_between_first_last_reviews(first_rev, last_rev):
    diffs = []
    for i in range(len(first_rev)):
        if type(first_rev[i]) == str and type(last_rev[i]) == str:
            first = [int(x) for x in first_rev[i].split("-")]
            d_first = datetime.datetime(first[0],first[1],first[2])
            last = [int(x) for x in last_rev[i].split("-")]
            d_last = datetime.datetime(last[0],last[1],last[2])
            delta = d_last-d_first
            diffs.append(delta.days)
        else:
            diffs.append(0)
    return diffs

def host_sincer(first_rev):
    if type(first_rev) == str:
        first = [int(x) for x in first_rev.split("-")]
        d_first = datetime.datetime(first[0],first[1],first[2])
        delta = datetime.datetime.now()-d_first
        return delta.days
boom = ['2020-07-09' for i in range(33538)]
df['tbetrev'] = time_between_first_last_reviews(df['first_review'],df['last_review'])
df['hostsincenum'] = df['host_since'].apply(lambda x: host_sincer(x))

In [71]:
df.head()

,id,name,summary,space,description,experiences_offered,neighborhood_overview,notes,transit,access,...,review_scores_value,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month,tbetrev,hostsincenum
0,22267382,Modern and Cozy Large Studio in Brooklyn,Modern large studio with new amenities and app...,Our place is a little quiet sanctuary in the h...,Modern large studio with new amenities and app...,none,"BAM, Barclays, Brooklyn City Point, Fort Green...",NaN,"Subway: 2,3,4,5,A,C,B,Q,G",Washer/Dryer Dishwasher Internet Gym Roof Top ...,...,10.0,t,f,flexible,f,f,1,0.59,183,3276.0
1,2473861,Royal Harlem TRIPLEX Home 5 Beds,Harlem is back and so gorgeous! Visit and expl...,Harlem is back and so gorgeous! Visit and expl...,Harlem is back and so gorgeous! Visit and expl...,none,HARLEM is a piece of real NY history overflowi...,HARLEM RESTAURANTS Red Rooster Harlem -- excel...,PUBLIC TRANSPORTATION: Conveniently near all p...,The WHOLE ENTIRE HOUSE,...,9.0,t,f,moderate,f,f,3,2.47,1649,2725.0
2,25079703,Sunny East Village Studio,"Clean, hip and well designed sun drenched East...",This is a rare East Village studio with it's h...,"Clean, hip and well designed sun drenched East...",none,East Village is one of the last remaining neig...,NaN,NaN,You'll have access to the entire space - it's ...,...,10.0,f,f,moderate,f,f,1,0.89,80,3002.0
3,9342478,"Beautiful, airy, light-filled room","Private, spacious, comfortable room in 2-bed f...","Big closet, two big windows, tall ceiling and ...","Private, spacious, comfortable room in 2-bed f...",none,One block from Morgan L stop. Super cool area....,NaN,NaN,NaN,...,NaN,f,f,flexible,f,f,1,NaN,0,2645.0
4,4866426,Private Room in Prime Brooklyn Spot,"Comfy, quiet and big private room in a three b...",This big old apartment that we love and take c...,"Comfy, quiet and big private room in a three b...",none,I absolutely love this neighborhood - right at...,Just a note about the space: The window in you...,Super convenient to almost all subway lines. A...,Your room has a very comfortable queen sized b...,...,10.0,f,f,flexible,f,f,1,3.14,1355,3216.0

In [72]:
categories = [x for x in list(set(df['neighbourhood_group_cleansed'])) if type(x) is str]
categories1 = [x for x in list(set(df['host_response_time'])) if type(x) is str]
categories2 = [x for x in list(set(df['host_is_superhost'])) if type(x) is str]
categories3 = [x for x in list(set(df['host_neighbourhood'])) if type(x) is str]
categories4 = [x for x in list(set(df['host_has_profile_pic'])) if type(x) is str]
categories5 = [x for x in list(set(df['host_identity_verified'])) if type(x) is str]
categories6 = [x for x in list(set(df['neighbourhood_cleansed'])) if type(x) is str]
categories7 = [x for x in list(set(df['city'])) if type(x) is str]
categories8 = [x for x in list(set(df['state'])) if type(x) is str]
categories9 = [x for x in list(set(df['zipcode'])) if type(x) is str]
categories10 = [x for x in list(set(df['market'])) if type(x) is str]
categories11 = [x for x in list(set(df['country_code'])) if type(x) is str]
categories12 = [x for x in list(set(df['property_type'])) if type(x) is str]
categories13 = [x for x in list(set(df['room_type'])) if type(x) is str]
categories14 = [x for x in list(set(df['bed_type'])) if type(x) is str]
categories15 = [x for x in list(set(df['instant_bookable'])) if type(x) is str]
categories16 = [x for x in list(set(df['cancellation_policy'])) if type(x) is str]
categories17 = [x for x in list(set(df['require_guest_profile_picture'])) if type(x) is str]
categories18 = [x for x in list(set(df['require_guest_phone_verification'])) if type(x) is str]
#categories19 = [x for x in list(set(df['name'])) if type(x) is str]
#categories20 = [x for x in list(set(df['summary'])) if type(x) is str]
#categories21 = [x for x in list(set(df['space'])) if type(x) is str]
#categories22 = [x for x in list(set(df['description'])) if type(x) is str]
#categories23 = [x for x in list(set(df['neighborhood_overview'])) if type(x) is str]
#categories24 = [x for x in list(set(df['notes'])) if type(x) is str]
#categories25 = [x for x in list(set(df['transit'])) if type(x) is str]
#categories26 = [x for x in list(set(df['access'])) if type(x) is str]
#categories27 = [x for x in list(set(df['interaction'])) if type(x) is str]
#categories28 = [x for x in list(set(df['host_id'])) if type(x) is str]
#categories29 = [x for x in list(set(df['host_name'])) if type(x) is str]
#categories30 = [x for x in list(set(df['host_since'])) if type(x) is str]
#categories31 = [x for x in list(set(df['host_location'])) if type(x) is str]
#categories32 = [x for x in list(set(df['host_about'])) if type(x) is str]
categories33 = [x for x in list(set(df['first_review'])) if type(x) is str]
categories34 = [x for x in list(set(df['last_review'])) if type(x) is str]

In [73]:
df['host_response_rate'] = df['host_response_rate'].str.rstrip('%').astype('float')

In [74]:
def zipcode(z):
    if type(z) == int or type(z) == float:
        if type(z) == int:
            return z
        elif z == float('nan'):
            return z
        elif type(z) == float:
            return z
    elif type(z) == str:
        if len(z) == 5:
            return int(z)
        elif len(z) == 7:
            return int(z[:-2])
        elif len(z) == 10:
            return int(z[:-5])
        elif z == '-- default zip code --':
            return z
df['zipcode'] = df['zipcode'].apply(lambda x: zipcode(x))

In [75]:
df = df.apply(lambda x: x.fillna(x.mean()) if x.dtype.kind == int else x)

In [76]:
len(df.columns)

67

In [77]:
len(df)

33538

In [78]:
df['numver'] = df['host_verifications'].apply(lambda x: len(x))

In [79]:
def amenlen(a):
    a = a[:-1]
    a = a[1:]
    a = a.split(',')
    return len(a)
df['amenlen'] = df['amenities'].apply(lambda x: amenlen(x))

In [80]:
df['last_review'].nunique()

1472

In [81]:
df.head()

,id,name,summary,space,description,experiences_offered,neighborhood_overview,notes,transit,access,...,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month,tbetrev,hostsincenum,numver,amenlen
0,22267382,Modern and Cozy Large Studio in Brooklyn,Modern large studio with new amenities and app...,Our place is a little quiet sanctuary in the h...,Modern large studio with new amenities and app...,none,"BAM, Barclays, Brooklyn City Point, Fort Green...",NaN,"Subway: 2,3,4,5,A,C,B,Q,G",Washer/Dryer Dishwasher Internet Gym Roof Top ...,...,f,flexible,f,f,1,0.59,183,3276.0,55,24
1,2473861,Royal Harlem TRIPLEX Home 5 Beds,Harlem is back and so gorgeous! Visit and expl...,Harlem is back and so gorgeous! Visit and expl...,Harlem is back and so gorgeous! Visit and expl...,none,HARLEM is a piece of real NY history overflowi...,HARLEM RESTAURANTS Red Rooster Harlem -- excel...,PUBLIC TRANSPORTATION: Conveniently near all p...,The WHOLE ENTIRE HOUSE,...,f,moderate,f,f,3,2.47,1649,2725.0,47,36
2,25079703,Sunny East Village Studio,"Clean, hip and well designed sun drenched East...",This is a rare East Village studio with it's h...,"Clean, hip and well designed sun drenched East...",none,East Village is one of the last remaining neig...,NaN,NaN,You'll have access to the entire space - it's ...,...,f,moderate,f,f,1,0.89,80,3002.0,48,14
3,9342478,"Beautiful, airy, light-filled room","Private, spacious, comfortable room in 2-bed f...","Big closet, two big windows, tall ceiling and ...","Private, spacious, comfortable room in 2-bed f...",none,One block from Morgan L stop. Super cool area....,NaN,NaN,NaN,...,f,flexible,f,f,1,NaN,0,2645.0,36,19
4,4866426,Private Room in Prime Brooklyn Spot,"Comfy, quiet and big private room in a three b...",This big old apartment that we love and take c...,"Comfy, quiet and big private room in a three b...",none,I absolutely love this neighborhood - right at...,Just a note about the space: The window in you...,Super convenient to almost all subway lines. A...,Your room has a very comfortable queen sized b...,...,f,flexible,f,f,1,3.14,1355,3216.0,55,19

### Creating Features and Training

In [82]:
from math import isnan

def to_float(s):
    try:
        ret = float(s)
    except:
        ret = -1
    if isnan(ret):
        ret = -1
    return ret

def to_int(s):
    try:
        ret = int(s)
    except:
        ret = -1
    return ret

categories = [x for x in list(set(df['neighbourhood_group_cleansed'])) if type(x) is str]
categories1 = [x for x in list(set(df['host_response_time'])) if type(x) is str]
categories2 = [x for x in list(set(df['host_is_superhost'])) if type(x) is str]
categories3 = [x for x in list(set(df['host_neighbourhood'])) if type(x) is str]
categories4 = [x for x in list(set(df['host_has_profile_pic'])) if type(x) is str]
categories5 = [x for x in list(set(df['host_identity_verified'])) if type(x) is str]
categories6 = [x for x in list(set(df['neighbourhood_cleansed'])) if type(x) is str]
categories7 = [x for x in list(set(df['city'])) if type(x) is str]
categories8 = [x for x in list(set(df['state'])) if type(x) is str]
categories9 = [x for x in list(set(df['zipcode'])) if type(x) is str]
categories10 = [x for x in list(set(df['market'])) if type(x) is str]
categories11 = [x for x in list(set(df['country_code'])) if type(x) is str]
categories12 = [x for x in list(set(df['property_type'])) if type(x) is str]
categories13 = [x for x in list(set(df['room_type'])) if type(x) is str]
categories14 = [x for x in list(set(df['bed_type'])) if type(x) is str]
categories15 = [x for x in list(set(df['instant_bookable'])) if type(x) is str]
categories16 = [x for x in list(set(df['cancellation_policy'])) if type(x) is str]
categories17 = [x for x in list(set(df['require_guest_profile_picture'])) if type(x) is str]
categories18 = [x for x in list(set(df['require_guest_phone_verification'])) if type(x) is str]
#categories19 = [x for x in list(set(df['name'])) if type(x) is str]
#categories20 = [x for x in list(set(df['summary'])) if type(x) is str]
#categories21 = [x for x in list(set(df['space'])) if type(x) is str]
#categories22 = [x for x in list(set(df['description'])) if type(x) is str]
#categories23 = [x for x in list(set(df['neighborhood_overview'])) if type(x) is str]
#categories24 = [x for x in list(set(df['notes'])) if type(x) is str]
#categories25 = [x for x in list(set(df['transit'])) if type(x) is str]
#categories26 = [x for x in list(set(df['access'])) if type(x) is str]
#categories27 = [x for x in list(set(df['interaction'])) if type(x) is str]
#categories28 = [x for x in list(set(df['host_id'])) if type(x) is str]
#categories29 = [x for x in list(set(df['host_name'])) if type(x) is str]
#categories30 = [x for x in list(set(df['host_since'])) if type(x) is str]
#categories31 = [x for x in list(set(df['host_location'])) if type(x) is str]
#categories32 = [x for x in list(set(df['host_about'])) if type(x) is str]


#categories33 = [x for x in list(set(df['first_review'])) if type(x) is str]
#categories34 = [x for x in list(set(df['last_review'])) if type(x) is str]


#Feature Engineering
def create_feature(row):
    guest_num = to_int(row.guests_included)
    #guest_cap = to_int(row.extra_people)
    review = to_float(row.review_scores_rating)
    #mine
    reviews_per_month = to_float(row.reviews_per_month)
    calculated_host_listings_count = to_int(row.calculated_host_listings_count)
    number_of_reviews = to_int(row.number_of_reviews)
    maximum_nights = to_int(row.maximum_nights)
    minimum_nights = to_int(row.minimum_nights)
    extra_people = to_int(row.extra_people[1:][:-3])
    guests_included = to_int(row.guests_included)
    square_feet = to_float(row.square_feet)
    beds = to_int(row.beds)
    bedrooms = to_int(row.bedrooms)
    bathrooms = to_int(row.bathrooms)
    accomodates = to_int(row.accommodates)
    host_listings_count = to_float(row.host_listings_count)
    host_response_rate = to_int(row['host_response_rate'])
    numver = to_int(row['numver'])
    amenlen = to_int(row['amenlen'])
    review1 = to_float(row.review_scores_accuracy)
    review2 = to_float(row.review_scores_cleanliness)
    review3 = to_float(row.review_scores_checkin)
    review4 = to_float(row.review_scores_communication)
    review5 = to_float(row.review_scores_location)
    review6 = to_float(row.review_scores_value)
    tbetrev = to_int(row.tbetrev)
    host_since_num = to_float(row.hostsincenum)
    
    
    one_hot = [int(row.neighbourhood_group_cleansed == category) for category in categories]
    #mine
    one_hot1 = [int(row.host_response_time == category) for category in categories1]
    one_hot2 = [int(row.host_is_superhost == category) for category in categories2]
    one_hot3 = [int(row.host_neighbourhood == category) for category in categories3] 
    one_hot4 = [int(row.host_has_profile_pic == category) for category in categories4] 
    one_hot5 = [int(row.host_identity_verified == category) for category in categories5]
    one_hot6 = [int(row.neighbourhood_cleansed == category) for category in categories6] 
    one_hot7 = [int(row.city == category) for category in categories7] 
    one_hot8 = [int(row.state == category) for category in categories8] 
    one_hot9 = [int(row.zipcode == category) for category in categories9] 
    one_hot10 = [int(row.market == category) for category in categories10] 
    one_hot11 = [int(row.country_code == category) for category in categories11] 
    one_hot12 = [int(row.property_type == category) for category in categories12]
    one_hot13 = [int(row.room_type == category) for category in categories13]
    one_hot14 = [int(row.bed_type == category) for category in categories14]
    one_hot15 = [int(row.instant_bookable == category) for category in categories15]
    one_hot16 = [int(row.cancellation_policy == category) for category in categories16]
    one_hot17 = [int(row.require_guest_profile_picture == category) for category in categories17]
    one_hot18 = [int(row.require_guest_phone_verification == category) for category in categories18]
    #one_hot33 = [int(row.first_review == category) for category in categories33]
    #one_hot34 = [int(row.last_review == category) for category in categories34]
    #one_hot35 = [int(row.room_type == category) for category in categories35]
    #one_hot36 = [int(row.room_type == category) for category in categories36]
    #one_hot37 = [int(row.room_type == category) for category in categories37]
    #one_hot38 = [int(row.room_type == category) for category in categories38]
    
    
    
    
    
    return [guest_num, bedrooms, bathrooms, review,
            reviews_per_month,calculated_host_listings_count,
            number_of_reviews,maximum_nights,minimum_nights,
            extra_people,guests_included,square_feet,beds,bedrooms, 
            bathrooms, accomodates, host_listings_count,host_response_rate,numver,amenlen
            ,review1,review2,review3,review4,review5,review6,tbetrev,host_since_num
            ] + one_hot + one_hot1 + one_hot2 + one_hot3 + one_hot4 + one_hot5 + one_hot6 + one_hot7 + one_hot8 + one_hot9 + one_hot10 + one_hot11 + one_hot12 + one_hot13 + one_hot14 + one_hot15 + one_hot16 + one_hot17 + one_hot18 



train_X, train_y = [], []
for (idx, row) in df.iterrows():
    price = float(row.price)
    feature = create_feature(row)
    train_X.append(feature)
    train_y.append(price)

print(len(train_X), len(train_y))

33538 33538

### Model Selection and Hyper Parameter Optimization

In [83]:
from sklearn.experimental import enable_hist_gradient_boosting  # noqa
from sklearn.ensemble import HistGradientBoostingRegressor
regr = HistGradientBoostingRegressor(max_depth = 16,max_iter = 201).fit(train_X, train_y)

In [84]:
import pandas as pd

test_df = pd.read_csv('test.csv')

/Users/areebasad/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [85]:
test_df['host_response_rate'] = test_df['host_response_rate'].str.rstrip('%').astype('float')
#test_df['zipcode'] = test_df['zipcode'].apply(lambda x: to_float(x))
#test_df = test_df.apply(lambda x: x.fillna(x.mean()) if x.dtype.kind in 'biufc' else x)
#states = ['NY','Ny','New York','ny']
#test_df = test_df[df.state.isin(states)]
#test_df = df[df['country']=='United States']
test_df['numver'] = test_df['host_verifications'].apply(lambda x: len(x))
test_df['zipcode'] = test_df['zipcode'].apply(lambda x: zipcode(x))
test_df['amenlen'] = test_df['amenities'].apply(lambda x: amenlen(x))
test_df['tbetrev'] = time_between_first_last_reviews(test_df['first_review'],test_df['last_review'])
test_df['hostsincenum'] = test_df['host_since'].apply(lambda x: host_sincer(x))

In [86]:
test_df.head()

,id,name,summary,space,description,experiences_offered,neighborhood_overview,notes,transit,access,...,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month,numver,amenlen,tbetrev,hostsincenum
0,19307997,Super Lux 2BR in Downtown Manhattan,Prepare to be WOWED! This spectacularly bright...,"Top of the line Wolf and Sub-Zero appliances, ...",Prepare to be WOWED! This spectacularly bright...,none,NaN,NaN,NaN,NaN,...,f,flexible,f,f,1,NaN,94,15,0,1552.0
1,20176193,Vintage Eclectic Brownstone Pad in Brooklyn,"Ideal for romantic, creative types, this is an...","Not your typical New York abode, my apartment ...","Ideal for romantic, creative types, this is an...",none,Bed Stuy is a diverse historic neighborhood wi...,This is an actual unique living experience whe...,Close to buses and subways there is also free ...,"Entrance hallway, living room, bedroom, kitche...",...,f,flexible,f,f,1,1.48,43,39,438,2655.0
2,19485371,Spacious Harlem Hideaway,"Postive Vibes . This is our Harlem tree house,...",The private room is very spacious and cozy. Th...,"Postive Vibes . This is our Harlem tree house,...",none,You are in a Cultural Haven full of restaurant...,We also keep cucumber water in the fridge feel...,"Train, uber or a taxi. (Extremely taxi accessi...","Private Room, Kitchen And Bathroom",...,f,flexible,f,f,1,0.37,121,21,167,1739.0
3,13079990,Spacius private room in Brooklyn,"Newly renovated apartment, its a 3 bedroom apa...","3 bedroom apartment, 1 full bathroom, living r...","Newly renovated apartment, its a 3 bedroom apa...",none,NaN,NaN,"There is the Mta 3 train Sutter stop, also the...",NaN,...,f,flexible,f,f,1,0.23,41,13,150,1883.0
4,22339757,*Dg) Delightful Private Room 20 min to Manhattan,Hi my home is only 2 blocks from the subway st...,NaN,Hi my home is only 2 blocks from the subway st...,none,NaN,NaN,NaN,NaN,...,f,strict_14_with_grace_period,f,f,9,1.53,18,14,254,1237.0

In [87]:
test_ids, test_X = [], []
for (idx, row) in test_df.iterrows():
    feature = create_feature(row)
    test_ids.append(row.id)
    test_X.append(feature)

In [88]:
test_y = regr.predict(test_X)

In [89]:
print(len(test_y))

17337

### Saving Results

In [90]:
output_df = pd.DataFrame()
output_df['Id'] = test_ids
output_df['Predicted'] = test_y
output_df.to_csv('results.csv', index = False)

In [91]:
import numpy as np

mean = np.mean(list(df['price']))

In [92]:
output_df = pd.DataFrame()
output_df['Id'] = test_ids
output_df['Predicted'] = [mean for i in range(len(test_ids))]
output_df.to_csv('mean_value_baseline.csv', index = False)

In [93]:
output_df.head()

         Id   Predicted
0  19307997  145.177291
1  20176193  145.177291
2  19485371  145.177291
3  13079990  145.177291
4  22339757  145.177291

### Local Testing

In [94]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [95]:
X_train, X_test, y_train, y_test = train_test_split(train_X, train_y, test_size=0.2, random_state = 42)

In [96]:
for val in np.arange(5,25,step=1):
    print(val)
    hist_regr = HistGradientBoostingRegressor(max_depth=val, random_state=42).fit(X_train, y_train)

    rms = np.sqrt(mean_squared_error(y_test, hist_regr.predict(X_test)))
    print(rms)
    print()
    print()

5
89.05005695403966


6
88.29871236761666


7
88.67370889177367


8
88.32082870001139


9
88.25663138349981


10
88.61296254874324


11
88.37425759584056


12
88.2398697783498


13
87.87412894639068


14
88.2833503506427


15
88.27615759550088


16
87.82032223740272


17
88.05208568067687


18
87.91724189189357


19
87.95076525539623


20
87.85401568208277


21
88.01969699118594


22
88.06131348057681


23
88.06131348057681


24
88.06131348057681

In [97]:
for val in np.arange(200,400,step=25):
    print(val)
    hist_regr = HistGradientBoostingRegressor(max_depth=16,max_iter=val).fit(X_train, y_train)

    rms = np.sqrt(mean_squared_error(y_test, hist_regr.predict(X_test)))
    print(rms)
    print()
    print()

200
87.53243932459196


225
87.59759636386542


250
87.59680589911251


275
87.60427299714571


300
87.78536065316894


325
87.73880112766247


350
87.685368075423


375
87.70175835943539

In [98]:
for val in np.arange(195,207,step=3):
    print(val)
    hist_regr = HistGradientBoostingRegressor(max_depth=16,max_iter=val).fit(X_train, y_train)

    rms = np.sqrt(mean_squared_error(y_test, hist_regr.predict(X_test)))
    print(rms)
    print()
    print()

195
87.53441589110521


198
87.54110857599446


201
87.52977930397503


204
87.56173741650137

In [99]:
for val in np.arange(199,203,step=1):
    print(val)
    hist_regr = HistGradientBoostingRegressor(max_depth=16,max_iter=val).fit(X_train, y_train)

    rms = np.sqrt(mean_squared_error(y_test, hist_regr.predict(X_test)))
    print(rms)
    print()
    print()

199
87.53235480064325


200
87.53243932459196


201
87.52977930397503


202
87.54070198287279